*{
    background-color: rgb(16, 16, 63);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}

footer{
    font-size: 55%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.des{
    position: fixed;
    bottom:0;
    left:50%;
    transform: translate(-50%, -50%);
}

